.FontAAB {
    font-family: "Mona","IPA モナー Pゴシック","IPAMonaPGothic","IPA mona PGothic","IPA MONAPGOTHIC","MS PGothic AA","mona-gothic-jisx0208.1990-0","MS PGothic","ＭＳ Ｐゴシック", "Saitamaar", sans-serif;
    font-size: 12pt;
    line-height: 18px;
}
.login {
    padding: 10px;
    margin: 2em 0;
    background: #c2deff;
    border: solid 2px #5b8bd0;
}
.selector {
    padding: 10px;
    margin: 2em 0;
    background: #feffc2;
    border: solid 2px #5b8bd0;
}
.sender {
    padding: 10px;
    margin: 2em 0;
    background: #ffffff;
    border: solid 2px #000000;
}
.comment {
    padding: 10px;
    margin: 1em 0;
    background: #ececec;
    border: solid 2px #999999;
}
.chatarea {
    padding: 7px;
    margin: 1em 0;
    background: #feffcb;
    border: solid 2px #b6b5b5;
    height: 700px;
    overflow-y:scroll;
}
.roomframe {
    padding: 3px;
    margin: 0px;
    background: #feffb1;
    border: solid 2px #a1a1a1;
    position: relative;
    height: 30px;
}
body {
    background-image: repeating-linear-gradient(
        -45deg,
        #c3ffc1,
        #c3ffc1 10px,
        #b3fdb0 10px,
        #b3fdb0 20px
    );
    font-family:sans-serif;
}
input[type=button] {
    appearance: none;
    border: solid 2px #79e46f;
    border-radius: 5px;
    background: #80ff7c;
    color: #000000;
    padding: 2px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 1px;
}
.roomsender{
    left: 35px;
    position: absolute;
}
.title {
    font-family: serif;
}
.pop-up{
    opacity:0.8;
    text-align: center;
    width:40%;
    background: #ffffff;
    box-shadow: inset 0px 0px 5px 0 #a0a0a0;
    margin: 0 0 0 auto;
    padding: 5px;
    font-size: 15px;
}
.pop-up_error{
    opacity:0.8;
    text-align: center;
    width:40%;
    background: #ffffff;
    box-shadow: inset 0px 0px 5px 0 #a0a0a0;
    margin: 0 0 0 auto;
    padding: 5px;
    font-size: 15px;
    color:red;
}
.pop-up-window{
    z-index:10000;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.error_result{
    color: red;
}
.loading_text{
    color: lightgreen;
}