.FontAAB {
    font-family: "Mona","IPA モナー Pゴシック","IPAMonaPGothic","IPA mona PGothic","IPA MONAPGOTHIC","MS PGothic AA","mona-gothic-jisx0208.1990-0","MS PGothic","ＭＳ Ｐゴシック", "Saitamaar", sans-serif;
    font-size: 12pt;
    line-height: 18px;
}
.login {
    padding: 10px;
    margin: 2em 0;
    background: #c2deff;
    border: solid 2px #5b8bd0;
}
.selector {
    padding: 10px;
    margin: 2em 0;
    background: #feffc2;
    border: solid 2px #5b8bd0;
}
.sender {
    padding: 10px;
    margin: 2em 0;
    background: #ffffff;
    border: solid 2px #000000;
}
.comment {
    padding: 10px;
    margin: 1em 0;
    background: #ececec;
    border: solid 2px #999999;
    overflow-x: auto;
}
.chatarea {
    padding: 7px;
    margin: 1em 0;
    background: #feffcb;
    border: solid 2px #b6b5b5;
    height: 700px;
    overflow-y:scroll;
}
.roomframe {
    padding: 3px;
    margin: 0px;
    background: #feffb1;
    border: solid 2px #a1a1a1;
    height: 30px;
    display: flex;
}
body {
    background-image: repeating-linear-gradient(
        -45deg,
        #c3ffc1,
        #c3ffc1 10px,
        #b3fdb0 10px,
        #b3fdb0 20px
    );
    font-family:sans-serif;
}
input[type=button] {
    appearance: none;
    border: solid 2px #79e46f;
    border-radius: 5px;
    background: #80ff7c;
    color: #000000;
    padding: 2px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 1px;
}
.roomsender{
    height: 25px;
}
.title {
    font-family: serif;
}
.pop-up{
    opacity:0.8;
    text-align: center;
    width:40%;
    background: #ffffff;
    box-shadow: inset 0px 0px 5px 0 #a0a0a0;
    margin: 0 0 0 auto;
    padding: 5px;
    font-size: 15px;
}
.pop-up_error{
    opacity:0.8;
    text-align: center;
    width:40%;
    background: #ffffff;
    box-shadow: inset 0px 0px 5px 0 #a0a0a0;
    margin: 0 0 0 auto;
    padding: 5px;
    font-size: 15px;
    color:red;
}
.pop-up-window{
    z-index:10000;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.error_result{
    color: red;
}
.loading_text{
    color: lightgreen;
}
.notif_cont{
    position: fixed;
    right: 20px;
    top: 10px;
}
.unread-label{
    background: red;
    font-size: 14px;
    color: white;
    border-radius  : 10px;  
    padding:0px 5px;
    height: 20px;
}
 /* === ボタンを表示するエリア ============================== */
.switchArea {
    line-height    : 22px;                /* 1行の高さ          */
    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 8px;                /* 文字サイズ         */

    position       : fixed;            /* 親要素が基点       */
    right          : 60px;
    margin         : auto;                /* 中央寄せ           */
    width          : 49px;               /* ボタンの横幅       */
    /*background     : #fff;                /* デフォルト背景色   */
}

/* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
    display        : none;            /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    height         : 22px;                /* ボタンの高さ       */
    border         : 2px solid #999999;   /* 未選択タブのの枠線 */
    border-radius  : 11px;                /* 角丸               */
    background     : white;
}

/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
    border-color   : #78bd78;             /* 選択タブの枠線     */
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after{
    content        : "OFF";               /* 表示する文字       */
    padding        : 0 0 0 13px;          /* 表示する位置       */
    color          : #999999;             /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span:after{
    content        : "ON";                /* 表示する文字       */
    padding        : 0 13px 0 0;          /* 表示する位置       */
    color          : #78bd78;             /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
    position       : absolute;            /* 親要素からの相対位置*/
    width          : 14px;                /* 丸の横幅           */
    height         : 14px;                /* 丸の高さ           */
    background     : #999999;             /* カーソルタブの背景 */
    top            : 4px;                 /* 親要素からの位置   */
    left           : 4px;                 /* 親要素からの位置   */
    border-radius  : 7px;                /* 角丸               */
    transition     : .2s;                 /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
    transform      : translateX(27px);    /* 丸も右へ移動       */
    background     : #78bd78;             /* カーソルタブの背景 */
}